<a href="https://colab.research.google.com/github/nesrinemanai/travail.txt/blob/main/en1990.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

# Connexion à la base de données (en mémoire)
conn = sqlite3.connect(":memory:")
curseur = conn.cursor()

In [ ]:
# Création de la table Produit
curseur.execute("""
CREATE TABLE Produit (
    ID INTEGER PRIMARY KEY,
    Nom TEXT,
    PrixUV REAL,
    PrixUA REAL,
    Promise INTEGER,
    Quantite INTEGER
)
""")

In [ ]:
# Insertion des produits
curseur.execute("INSERT INTO Produit VALUES (1, 'Iphone', 2500, 2300, 10, 10)")
curseur.execute("INSERT INTO Produit VALUES (2, 'Samsung', 1800, 1500, 15, 15)")

In [ ]:
# Calcul par produit
curseur.execute("""
SELECT
    Nom,
    PrixUV * Quantite AS CA,
    PrixUA * Quantite AS CR,
    (PrixUV * Quantite) - (PrixUA * Quantite) AS Benefice
FROM Produit
""")

resultats = curseur.fetchall()

# Affichage des résultats
for ligne in resultats:
    print("Produit:", ligne[0])
    print("  Chiffre d'Affaires (CA):", ligne[1])
    print("  Coût de Revient (CR):", ligne[2])
    print("  Bénéfice:", ligne[3])
    print("-----------------------------")

Produit: Iphone
  Chiffre d'Affaires (CA): 25000.0
  Coût de Revient (CR): 23000.0
  Bénéfice: 2000.0
-----------------------------
Produit: Samsung
  Chiffre d'Affaires (CA): 27000.0
  Coût de Revient (CR): 22500.0
  Bénéfice: 4500.0
-----------------------------

In [ ]:
# Totaux globaux
curseur.execute("""
SELECT
    SUM(PrixUV * Quantite) AS Total_CA,
    SUM(PrixUA * Quantite) AS Total_CR,
    SUM((PrixUV * Quantite) - (PrixUA * Quantite)) AS Total_Benefice
FROM Produit
""")

totaux = curseur.fetchone()
print("Totaux globaux :")
print("  Total CA:", totaux[0])
print("  Total CR:", totaux[1])
print("  Total Bénéfice:", totaux[2])

Totaux globaux :
  Total CA: 52000.0
  Total CR: 45500.0
  Total Bénéfice: 6500.0